/*-------------------------*\
$COLORS
\*-------------------------*/

$color-yellow: #f7cd09;
$color-pink: #c5165b;

/*-------------------------*\
$FONTS
\*-------------------------*/

$font-title: "Montserrat", sans-serif;

@font-face {
  font-family: Metropolis;
  src: url("../Font/Metropolis Font family/Metropolis-Medium.otf");
}

/*-------------------------*\
        $SCREENS
\*-------------------------*/

$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;