.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 6200px;
    align-content: center;
}

.card-img {
border-radius: 5%;
width: 17.5%;
margin: 4px;
}

.pintImg {
    width: 45px;
    height: 45px;
}

.input {
    width: 900px;
    height: 40px;
    border-radius: 5px;
    background: white;
  }

  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }
   
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 20px;
  }